root = true

[*.cs]
csharp_style_prefer_range_operator = false
csharp_style_namespace_declarations = file_scoped
csharp_style_prefer_primary_constructors = false
dotnet_diagnostic.IDE0305.severity = none

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.{xml,csproj,props,targets}]
indent_style = space
indent_size = 4
